.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.name {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

h3 {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 0.2rem;
}

.meta {
  color: #555;
  font-size: 0.95rem;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.details {
  flex: 1;                              
  display: flex;
  flex-direction: column;
  justify-content: space-between;        
  height: 100px;                         
  overflow: hidden;                      
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    padding: 0.3rem 0.6rem;
    border: none;
    background: #4cafef;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;

    &:hover { background: #3a8bcc; }
  }

  span {
    font-weight: bold;
    min-width: 20px;
    text-align: center;
  }
}


.remove {
  margin-left: auto;
  align-self: center;
  padding: 0.6rem 0.6rem;
  background: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover { background: #d9363e; }
}
